@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as *;

:host {
  @include host-horizontal-scrollbar-fix;
}

.row.dark {
  background-color: #111111;
  color: white;
}

.row.light {
  background-color: $not-white;
}

.row {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  gap: $spacer-xl;
  padding-top: $spacer-l;
  padding-bottom: $spacer-l;

  @include padding-sides;

  @media (max-width: $media-s) {
    flex-direction: column;
    gap: $spacer-m;
  }
}

.row.left {
  .description {
    order: 0;
    text-align: end;
    @media (max-width: $media-s) {
      text-align: center;
    }
  }

  .photo {
    order: 1;
  }
}

.row.right {
  .description {
    order: 1;
    text-align: start;

    @media (max-width: $media-s) {
      text-align: center;
    }
  }

  .photo {
    order: 0;
  }
}

.photo {
  max-height: 45rem;
  height: 100%;
  border-radius: $border-radius-s;
  object-fit: contain;

  @media (max-width: $media-l) {
    max-width: 32rem;
  }

  @media (max-width: $media-s) {
    max-width: 27rem;
    width: 100%;
  }
}

.photo.dark {
  border: 10px solid white;
  box-shadow: 2px 2px 6px rgba(255, 255, 255, 0.40);
}

.photo.light {
  border: 10px solid black;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.40);
}

.description {
  font-size: $spacer-xl;
  max-width: 30rem;

  @media (max-width: $media-l) {
    font-size: $font-size-xl;
  }

  @media (max-width: $media-s) {
    max-width: 27rem;
    width: 100%;
    font-size: $font-size-l;
  }
}
