:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 4rem;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
  max-width: 55rem;
}

label {
  font-size: 1.4rem;
}

input, textarea {
  border-radius: 5px;
  border: 1px solid #cccccc;
}

input:focus, input:active, input:focus-visible, textarea:focus, textarea:active, textarea:focus-visible {
  outline: 1px solid green;
}

input {
  height: 2.5rem;
  margin-bottom: .5rem;
}

textarea {
  height: 10rem;
}

button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
