@use "../../shared/styles/variables" as *;

:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-right: $spacer-xl;
  padding-left: $spacer-xl;
}

h1 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: $spacer-s;
  width: 100%;
  max-width: 50rem;

  @media (max-width: $media-l) {
    max-width: 40rem;
  }

  @media (max-width: $media-s) {
    max-width: 25rem;
  }
}

label {
  font-size: $font-size-s;
}

input, textarea {
  font-size: $font-size-s;
  border-radius: $border-radius-s;
  border: 1px solid #cccccc;
}

input:focus, input:active, input:focus-visible, textarea:focus, textarea:active, textarea:focus-visible {
  outline: 1px solid green;
}

input {
  height: 2.5rem;

  &.--error {
    outline: 1px solid red;
  }
}

textarea {
  height: 10rem;

  &.--error {
    outline: 1px solid red;
  }
}

button {
  margin-left: auto;
  margin-right: auto;
}

.error {
  color: red;
  font-size: $font-size-xs;
  margin: 0;
  padding: 0;
  visibility: hidden;

  &.--visible {
    visibility: visible;
  }
}
