@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as *;

.logo-with-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: $not-white;
  height: 29rem;

  @include padding-sides;

  > img {
    height: 8rem;
  }

  > p {
    font-size: 3rem;
    text-align: center;
  }

  @media (max-width: 82rem) {
    > img {
      height: 6rem;
    }

    > p {
      font-size: 2.4em;
    }
  }

  @media (max-width: 53rem) {
    flex-direction: column;
    gap: 2rem;
    height: 20rem;

    > img {
      height: 4.8rem;
    }

    > p {
      font-size: 1.8rem;
    }
  }
}

.service-description {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;

  @include padding-sides;

  > p:last-of-type {
    margin-bottom: 1rem;
  }

  @media (max-width: 53rem) {
    max-width: 32rem;
  }
}

app-contact-form {
  margin-bottom: 2rem;
}
