@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as *;

.logo-with-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: $spacer-l;
  background-color: $not-white;
  height: 29rem;

  @include padding-sides;

  > img {
    height: 8rem;
  }

  > p {
    font-size: $font-size-xxl;
    text-align: center;
  }

  @media (max-width: $media-l) {
    > img {
      height: 6rem;
    }

    > p {
      font-size: $font-size-l;
    }
  }

  @media (max-width: $media-s) {
    flex-direction: column;
    gap: $spacer-l;
    height: 20rem;

    > img {
      height: 4.8rem;
    }

    > p {
      font-size: $font-size-m;
    }
  }
}

.service-description {
  display: block;
  text-align: center;
  margin-bottom: $spacer-l;
  margin-left: auto;
  margin-right: auto;

  @include padding-sides;

  > p:last-of-type {
    margin-bottom: $spacer-m;
  }

  @media (max-width: $media-s) {
    max-width: 32rem;
  }
}

app-contact-form {
  margin-bottom: $spacer-l;
}
