.logo-with-description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #f5f5f7;
  height: 29rem;
  padding-left: 4rem;
  padding-right: 4rem;

  > img {
    height: 8rem;
  }

  > p {
    font-size: 3rem;
    text-align: center;
  }

  @media (max-width: 82rem) {
    > img {
      height: 6rem;
    }

    > p {
      font-size: 2.4em;
    }
  }

  @media (max-width: 53rem) {
    flex-direction: column;
    gap: 2rem;
    height: 20rem;
    padding-left: 1.3rem;
    padding-right: 1.3rem;

    > img {
      height: 4.8rem;
    }

    > p {
      font-size: 1.8rem;
    }
  }
}

.service-description {
  display: block;
  text-align: center;
  margin-bottom: 2rem;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: 53rem) {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
    max-width: 32rem;
  }
}
