:host {
  display: block;
  width: 100%;
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: .5rem;
  padding: 0 4rem;
  margin: 2rem 0;

  > img {
    width: 100%;
    max-width: 40rem;

    @media (max-width: 90rem) {
      max-width: 30rem;
    }
  }
}
