:host {
  display: block;
  width: 100%;
  overflow: hidden; //stops the horizontal scrollbar to appear on smaller viewports before the animation is played
}

.text-block {
  padding-left: 4rem;
  padding-right: 4rem;
  
  @media (max-width: 53rem) {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}

.photos-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: .5rem;
  padding: 0 4rem;
  margin: 2rem 0;

  > img {
    width: 100%;
    max-width: 40rem;

    @media (max-width: 90rem) {
      max-width: 30rem;
    }
  }

  @media (max-width: 53rem) {
    padding-left: 1.3rem;
    padding-right: 1.3rem;
  }
}
