@use "../../shared/styles/variables" as *;
@use "../../shared/styles/mixins" as *;

:host {
  @include host-horizontal-scrollbar-fix;
}

.base-container {
  margin: 0;
  padding-bottom: $spacer-l;

  @include padding-sides;

  h1 {
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    margin: 0;
  }

  &:first-of-type {
    background-color: $not-white;
  }

  > img {
    padding-bottom: $spacer-l;
  }
}

.transformation-container {
  display: flex;
  gap: $spacer-l;
  justify-content: center;
  margin-bottom: 3rem;

  @media (max-width: $media-s) {
    flex-direction: column;
    align-items: center;
    gap: .5rem;
  }

  > img {
    width: 100%;
    max-width: 30%;
    object-fit: cover;

    @media (max-width: $media-s) {
      max-width: 100%;
      flex-direction: column;
      align-items: center;
      padding: 0 $padding-sides-small-screen;
    }
  }

  > mat-icon {
    display: block;
    width: 100%;
    max-width: 15%;
    height: 100%;
    font-size: clamp(5rem, 15vw, 10rem);
    line-height: 12rem;
    align-self: center;
    text-align: center;

    @media (max-width: $media-s) {
      max-width: none;
      height: 10rem;
      font-size: 10rem;
      line-height: initial;
    }
  }

  .arrow_forward {
    display: block;

    @media (max-width: $media-s) {
      display: none;
    }
  }

  .arrow_down {
    display: none;

    @media (max-width: $media-s) {
      display: block;
    }
  }
}
