@use '@angular/material' as mat;
@use "app/shared/styles/animations";
@use "app/shared/styles/variables" as *;
@use "app/shared/styles/mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: 'Varela Round',
    density: 0,
  ));
}

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Varela Round', sans-serif;
  font-size: $base-font-size;
  line-height: $base-line-height;
  color: $base-font-colour;
  margin: 0;
  padding: 0;
  height: 100%;
}

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
  font: inherit;
}

p {
  margin: 0;
  font-size: $font-size-s;
}

h1 {
  font-size: $font-size-xxl;
  margin: $spacer-l 0;
  text-align: center;

  @media (max-width: $media-s) {
    font-size: $font-size-xl;
  }
}

h2 {
  font-size: $font-size-l;
  margin: $spacer-s 0;
  text-align: center;

  @media (max-width: $media-s) {
    font-size: $font-size-m;
  }
}

.margin-st {
  margin-top: $spacer-m;
}

button {
  width: 14rem;
  height: 3rem;
  border-radius: 2.5rem;
  font-size: $font-size-s;
}

.base-container {
  display: block;
  width: 100%;
  text-align: center;
  margin: $spacer-m 0;
  @include padding-sides;

  img, app-get-started-button {
    display: block;
    width: 100%;
    max-width: 43rem;
    margin: $spacer-m auto 0 auto
  }
}
